extends layout

block content
	-var scripts = 'javascripts/scripts.js'
	-var selected = 'contact';
	header
		include partials/navbar
		.container.head
			.row
				.col-md-7
					h1.h3
						| Don't be a stranger, we love to hear from #[strong you.]

				.col-md-5

			.row
				.col-md-9.typography
					p
						| At Bakker Labs we know how hard it can be to find the right person for the job. You should be able to have a conversation with a potential contractor, no string attached. 
					p
						| That's why we offer the #[strong first conversation] we have to be a #[strong completely free], no strings attached conversation. This is the ideal moment for us to learn more about what you need. And for you it's important to know who you'll be working with. So please don't hesitate to contact us. We'll get back to you with times, dates and a way to have our initial conversation. 
		
	section.pattern
		.container
			.row
				.col-md-12
					h2.h4 
						|Shoot us a message, we won't bite.



			.row
				.col-md-8
					.row
						if(typeof msg !== 'undefined')
							if(!!err)
								div(class='msgbox err') #{msg}
							else
								div(class='msgbox success') #{msg}

						form(action='/contact', name='contactus', id='contactus', method='post')
							.col-md-6.form-group
								label(for='name') Name:
								input(name='name', type='text', value='', id='name' class='form-control input-lg' required)

							.col-md-6.form-group
								label(for='email') Email:
								input(name='email', type='text', value='', id='email' class='form-control input-lg' required)
								// honeypot
								input(name='company', type='text', value='', id='company-field')

							.col-md-12.form-group
								label(for='message') Message:
								textarea(name='message', rows='10' id='message' class='form-control' required)

							.col-md-4.col-md-offset-8.form-group
								input(name='submit', type='submit', value='Send', id='submit' class='btn btn-default btn-lg btn-block')
				.col-md-4
					p
						| &nbsp;
					p.typography
						strong Or contact us directly at:
					p
						|hello@bakkerlabs.nl
					p
						|+31 (6) 361 214 42
					p.typography
						strong Post address:
					p 
						| Anna Bijnsstraat 24-hs
					p
						| 1064JP Amsterdam
					p 
						| The Netherlands
	
	section#happy-people.hidden-sm.hidden-xs
		.container
			.row
				.col-md-12
					h2.h3.text-center 
						|These people are #[strong happy] they did:
			.row.spacer
				.col-md-10.col-md-offset-1
					.row.typography.text-center
						.col-md-4
							img(src='images/tonny.jpg' class='center-block img-responsive img-circle happy-1')
							p
								strong Tonny Wilbers

						.col-md-4
							img(src='images/dan.jpg' class='center-block img-responsive img-circle happy-2')
							p
								strong Dan Fennessy

						.col-md-4
							img(src='images/olivier.jpg' class='center-block img-responsive img-circle happy-3')
							p
								strong Olivier Coops
					.row.description.typography
						.col-md-10.col-md-offset-1.quotes
							.arrow_box.one
								p
									| Test 1 twee drie, iets over Tonny
							.arrow_box.two
								p
									| Een stukje geschreven door Dan. Hopelijk komt dit zo snel mogelijk. 
							.arrow_box.three
								p
									| En Olivier, hopelijk heeft hij wel zin om iets te schrijven.



