extends layout

block content

	header
		include partials/navbar

		.container.head
			.row
				.col-md-9
					h1.h2
						| Creating beautiful, functional interfaces. 
						span For everyone.
	//
		section#work
		.container-fluid
			.row
				.col-md-6
					| bla bla
				.col-md-6
					| bla bla



	section#social.container
		.row.posts
			if posts
				each post in posts
					.col-md-6
						a.post.permalink-0(href= post.link, target='_blank')
							.block
								.date-0 Posted on #{post.date}
								div
									h4.h5.title-0= post.title
								.summary-0= post.description

		h5.h4.subscribe
			| Read more on 
			a(href='') jaap.ninja
			|  or subscribe for weekly updates:
		.row
			form#revue-form(action='https://www.getrevue.co/profile/jaapbakker/add_subscriber', method='post', name='revue-form', target='_blank')
				.col-md-10.form-group
					label(for='member_email') Email address
					input#member_email.revue-form-field.form-control.input-lg(placeholder='johndoe@hotmail.com', type='email', name='member[email]')
				.col-md-2.form-group
					p  
					input#member_submit.btn.btn-default.btn-lg.btn-block(type='submit', value='Subscribe', name='member[subscribe]')



	section#about
		.container
			.row
				.col-md-10.col-md-offset-1
					h2.h4 A little bit more about Bakker Labs, and what we do. 
					.row.typography
						.row.info-block
							.col-sm-8
								h4.h5
									strong
										| UI/UX design		
								p
									| We are designers at heart and we love to experiment with new tools and new design trends. We know what looks good. But we also know this is not the most important part of design. We design with the user in mind. With the user at the center of our mind. When the user doesn’t know how to work with the latest design trends, we know better than to use them. That’s why we research, prototype, test and repeat. Every product design needs to be thoroughly researched user tested. We can do this for you. 
							.col-sm-4
								img(src="images/uxdesign.png" class="img-responsive img-circle")
						.row.info-block
							.col-sm-4
								img(src="images/frontenddevelopment.png" class="img-responsive img-circle")
							.col-sm-8
								h4.h5
									strong
										| Front-end development
								p
									| We started out as an agency solely focused on front-end development. Slowly we moved via back-end development to UI and UX design. But still, we love to do front-end development. To us it is an essential part of developing web apps. This makes us unique as well. We design with the front-end and back-end in mind. And vice versa. 
						.row.info-block
							.col-sm-8
								h4.h5
									strong
										| Design thinking
								p
									| Bakker Labs has all aspects of modern development and design. We stay up to date with the latest web, design, technologies and trends to give you the best experience. We’ll discuss what best fits your needs and deliver products that last. 
							.col-sm-4
								img(src="images/designthinking.png" class="img-responsive img-circle")

						.row.info-block
							.col-md-12
									h2.h4 Want to learn more? Feel free to 
										a(href='/contact') let us know.
	
	section#testimonials
		.container
			.row
				p test

	section.cta
		.container
			.row
				p test

		
			
 

		







