extends layout

block content
	-var selected = 'work';
	header
		include partials/navbar
		.container
			.row
				.col-md-9
					h1.h2 
						|#{title}

		.container
			.row
				//- each work in works
				//- 	col-md-6
				//- 		h4.h4= work.title